<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
</head>
<body>
  <h1>Welcome to the Homepage</h1>
  
  <ul>
    {{#each blogPosts}}
      <li>{{this.title}}</li>
    {{/each}}
  </ul>
  <a href="/dashboard">Dashboard</a>
</body>
</html>
